.container{
    display: flex;
    flex-direction: row;
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    flex: 1 0 21%;
    margin: 20px;
    width: 18rem;
    /* max-width: 18rem; */
}